.footer {
  display: flex;
  background-color: var(--dark-primary-color);
  font-size: 1.5rem;

  & .author {
    color: var(--text-and-icons-color);
  }

  & .link {
    color: var(--text-and-icons-color);
  }

  &.lessThan-md {
    flex-direction: column;
    justify-content: center;
    height: 8rem;
    padding-left: 1rem;

    & .author {
      margin-bottom: 0.5rem;
    }
  }

  &.greaterThanOrEqual-md {
    justify-content: flex-end;
    align-items: center;
    height: 4rem;
    padding-right: 4rem;

    & .author {
      margin-right: 3rem;
    }
  }
}
