@define-mixin article-block {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  border-radius: 1rem;
  box-shadow: var(--shadow-z-depth-1);
}

@define-mixin nav-animation {
  &.animation-enter {
    opacity: 0;
    transform: translateY(-30%);

    &:before {
      opacity: 0;
    }
  }

  &.animation-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: all 0.3s;
  }

  &.animation-enter-done {
    &:before {
      opacity: 1;
      transition: all 0.3s;
    }
  }

  &.animation-exit {
    opacity: 1;
    transform: translateY(0%);

    &:before {
      opacity: 1;
    }
  }

  &.animation-exit-active {
    opacity: 0;
    transform: translateY(-30%);
    transition: all 0.3s;

    &:before {
      opacity: 0;
    }
  }
}
